.OutterContainer{
    background-color: rgb(250, 217, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.CardContainer{
    width:60%;
    margin: 1%;
    padding : 20px;
    text-align: center;
    background-color: rgb(250, 217, 223);
    border-radius: 0px !important;
    border: none;
}

.Quote {
    font-size: 2.7rem;
    padding:  0;
    text-align: center;
    font-family: 'Oswald', 'sans-serif';
    color: black;
}

.CardText{
    padding:20px;
    color: black;

}
.Link {
    font-size: 1.2rem;
}

.Link a {
    color: #2142b2;
}
.Content{
    font-family: 'Anek Devanagari' ,'sans serif';
}
.ButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 900px) {

    .OutterContainer h4{
        font-size: 30px;
    }
    .CardContainer{
        width:100%;
        margin: 1%;
        padding : 0px;
    }
}
    
