.Container{
  background-color: #ffff;
}
.Card{
  width:90%;
  margin-left: 5%;
  border: none !important;
  border-radius: none !important;}

.LargeCard {
  /* Ensures the card takes 60% of the screen width */
  width:100%;
}


.SmallCardImage{
  height:200px;
}
.SmallCardTitle{
  height:50px;
  overflow: hidden;
}
.LargeCardImage{
  height:500px;
}
.SmallScreenCardImage{
  height:300px;
  object-fit: cover;
}