.Container{
  background-color: #ffff;
}
.Card{
  width:90%;
  margin-left: 5%;
  border: none !important;
  border-radius: none !important;
}
.SmallCardImage{
  height:200px;
  border: 1px solid grey !important;

}
.SmallCard{
  max-width: 100%;
}
.SmallCard:hover{
  cursor: pointer;
}
.SmallCardTitle{
  height:50px;
  overflow: hidden;
}

.SmallScreenCardImage{
  height:250px;
  object-fit: cover;
}
.SearchBar{
  height:30px !important;
  width:50%;
  margin:auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.InfiniteScrollOuterDiv{
  min-width:100%;
  height: fit-content;
}

@media (max-width: 800px){
  .SearchBar{
    margin-bottom: 3%;
  
  }
}