.Article{
    margin-bottom: 16px;
    text-align: left;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 2%;
    font-family: 'Anek Devanagari' ,'sans serif';
  }
.Articlebackground{
  background-color: #ffffff;
  text-align: center;
}

.Title{
  text-align: center;
  font-family: 'Oswald' ,'sans serif';
}
.Photo{
  padding: 1.5%;
  height:500px;
  width:100%;
}

.Content{
  padding-left:50px;
  text-align: left;
} 
.Author{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-direction: row;
  height: fit-content;
  padding-left: 50px;
} 
.Author p{
  margin-top: auto;
  text-transform: capitalize;
}
.Updation{
  margin-left: 0px;  
  font-family: 'Oswald','sans-serif';
}
.Margin{
  margin: auto;
  margin-right: 0px;
}
@media (max-width: 767px) {
  .article-preview .Article_Author__EkjDS img,
  .article-preview .Article_Updation__2aOF2,
  .article-preview .Article_Content__1XSO0 
  .Article_Photo{
      display: none;
  }
}
@media (max-width: 550px) {
  .Content{
    padding-left:0px;
    font-size: 10px;
  } 
  .Title{
    font-size: 25px;
  }
  .Author{
    padding-left: 0px;
  }
}