.Container{
    background-color:#ffff;
}
.CommentContainer{
    padding: 6% !important;
    background-color:#ffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;

}

