input{
    border-radius: 5px;
    padding-top: 5px;  
    border: 1px solid black;
    margin-bottom: 15px;
    width: 100%;  
}
.quillEditor{
    min-height: 400px !important;
    border: 1px solid rgb(121, 121, 121);

    border-radius: 5px;
    margin-bottom: 10px;
}
.Title{
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: auto;
}
select{
    border-radius: 5px;
}
.Button {
    border-radius: 5px;
    padding: 10px 50px;
    margin-bottom: 20px;
    width:60%;
    border: 1px solid #aeaeae;
    min-width: 75px;
    background-color: #cdcaca;
    color:black ;
  
}

.Container{
    border: 1px solid rgb(121, 121, 121) !important;
    border-radius: 5px !important;
    width: 75%;
    margin-bottom: 20px;
}

