.Asset { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .Spinner{
    height:400px;
    width:400px;
  }
  .smallSpinner{
    height:50px;
    width:50px;
  }