.Button {
  border-radius: 1.5rem;
  margin: auto;
  padding: 10px 50px;
  width: 50%;

  border: 1px solid #aeaeae;
  min-width: 75px;
  background-color: black;
  color:pink;

}
  
.Button:hover {
    background-color: rgb(176, 173, 173) !important;
    cursor: pointer;
    color: black;
    border: 1px solid black;

  }
  
  .Button:hover:active {
    background-color: #ffff !important;
    color: #fb6897;

  }
  
  .Button:active {
    background-color: #ffff !important;
    color: #fb6897;

  }
  
  .Button:focus {
    border: none !important;
    background-color: #ffff;
    color: #fb6897;


  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #ffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: pink;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #242a3d;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
  }
  