.Button {
  border-radius: 1.5rem;
  margin: auto;
  padding: 10px 50px;
  width: 50%;

  border: 1px solid #aeaeae;
  background-color: #e8cfcf;
  min-width: 75px;
  font-size: 20px;
  color:black;

}
.ButtonWide{
  width:100%;
}
.ButtonSmall{
  width:15%;
}
  
.Button:hover {
    background-color: pink !important;
    cursor: pointer;
    color: black;
    border: 3px solid rgb(129, 127, 127);
    box-shadow: 0 0 0 .1rem rgb(129, 127, 127) !important;
  }
  
  .Button:hover:active {
    background-color: pink !important;
    color: black;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 .1rem rgb(129, 127, 127) !important;


  }
  
  .Button:active {
    background-color: pink !important;
    color: black;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 .1rem rgb(129, 127, 127) !important;

  }
  
  .Button:focus {
    border: none !important;
    background-color: pink !important;
    color: black;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 .1rem rgb(129, 127, 127) !important;

  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  
  
  
  