.CommentForm {
    background-color: #fff;
    height: fit-content;
    padding: 1%;
    border: 1px solid rgb(206, 205, 205);
}
.CommentForm textarea{
  background-color: #fff;
}
.Form{
  border:none !important;
}

.Button {
  border-radius: 100px;
  padding: 4px 10px;
  width: 15%;
  margin: 15px;
}
  
.Button:hover {
  cursor: pointer;
}