.Comment{
  width: 100%;
  background-color: rgb(242, 237, 237);
  border:1px solid rgb(213, 212, 212); 
  margin-bottom: 2%;

  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Owner {
    font-size:20px;
    font-weight: 600;
    color: black;
    margin-right: 8px;
  }
  
.Date {
  font-weight: lighter;
  color: #949496;
}

.OwnerDetails{
  padding-top: 5%;
  padding-bottom: 2%;
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
}
.NameAndTime{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
}
.CommentBody{
  min-width: 100%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}
.CommentContent{
  width:100%;
}
.CommentDropDown{
  padding:0 !important;
  margin-top: auto;
}
.CommentLike{
  margin-left:3%;
}
.CommentLike i{
  font-size: 1.5rem !important;
}

@keyframes thumbsUpAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.thumbsUp {
  cursor: pointer;
  transition: color 0.2s;
}

.thumbsUp.animate {
  animation: thumbsUpAnimation 0.3s ease-in-out;
}

@media (max-width: 700px){
  .Comment{
    padding-right: 20px;
    font-size: 15px !important;
  }
  .CommentLike i{
    font-size: 1rem !important;
  }
}