.CopyrightContainer{
    background-color: grey;
    display: flex;    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.CopyrightContainer p {
    color: #fff;
    font-size: 15px;
    margin:auto;
    padding:20px;
}
.CopyrightContainer i{
  font-size: 15px;
  color: #fff;

}