.FooterContainer{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(206, 205, 205);
    padding:0px !important
}
.FooterBlocks{
    width:30%;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center; 
    align-items: center;   
}
.IconDiv{
    background-color: rgb(255, 206, 214);
    height:50px;
    width:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.IconOutterDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
}
.FooterBlocks p{
    font-size: 18px;
    color: black;
}
@media screen and (max-width: 800px) {
    .FooterContainer{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
        
    }
    .FooterBlocks{
        width:50%;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
        
    }
    
}
@media screen and (max-width: 800px) {
    .FooterBlocks{
        width:100%;
        margin-top: 5%;
        margin-bottom: 3%;
        padding:5%;        

        text-align: center;
        
    }
}