.Container{
    background-color: #fff;
    padding-left: 0px 10px 0px 10px;
    margin: auto;
}
.IntroContainer{
    padding-top: 2%;
}
.Image{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.ImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-height: 500px; /* Adjust the height as needed */
    overflow: hidden;
}
p{
    font-family: 'Anek Devanagari' ,'sans serif';
    font-size: 20px;
}
.Question{
    font-weight: 600;
    padding-left: 20px;
    color: rgb(56, 82, 61);
}
.Question:hover{
    cursor: pointer;
}