.NavBar {
  padding:0!important;
  color:#cdcaca;
  

}
.NavBarBrand img {
transition: 0.3s;
}

.NavBarBrand img:hover {
transform: scale(1.1);
transition: 0.5s;
transform: rotate(-60deg);
}
.NavLink {
  padding: 8px;
}

.Active i {
  color: #FFB7CE;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFB7CE;
  
}