.ProfileImage {
    object-fit: cover;
    height: 200px;
    width: 200px;
  }
  .SmallCardImage{
    height:200px;
    border: 1px solid grey !important;
  
  }
  .SmallCardTitle{
    height:50px;
    overflow: hidden;
  }
  .ProfileContainer{
    background-color: #fff;
    padding: 0px;
  }
  .Bio{
    width: 100%;
    height: fit-content;
    padding: 2%;
    text-align: left;
  }
  
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 150px;
      height: 150px;
    }
    .Bio{
      padding: 5%;
    }
  }