.EditFormContainer{
    background-color: #fff;
    padding-bottom: 3%;
}

.UsernameEditForm{
    height:80vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}