.ProfileImage {
    object-fit: cover;
    height: 300px;
    width: 300px;
    margin-top: 3%;
    border:10px solid #878484;
    animation-name: spinImage;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform-origin: center; /* Rotate around the center */
  }

  @keyframes spinImage {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .SmallCardImage{
    height:200px;
    border: 1px solid grey !important;
    border-radius: 0px;
  }
  .SmallCardTitle{
    height:50px;
    overflow: hidden;
  }
  .ProfileContainer{
    background-color: #fff;
    padding: 0px;
  }
  .MemberSince{
    font-family: 'Oswald','sans-serif';
    color:grey;
  }

  .Bio{
    width: 100%;
    height: fit-content;
    padding: 2%;
    margin-top: 1%;
    text-align: left;
  }
  .ContactIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
  }
  .ContactIcons i{
    font-size: 1rem !important;
  }
  .ProfileContactIcons{
    padding-left: 4%;
    padding-right: 4%;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 150px;
      height: 150px;
      margin-top: 5%;
    }
    .Bio{
      padding: 5%;
    }
  }