.Header {
    font-size: 2.7rem;
    line-height: 19px;
    text-align: center;
    color: black;
}
.alert {
    font-size: 18px;
    color: black !important;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.Input {
    width:60%;
    border: 1px solid rgb(254, 166, 180);
    background-color: pink !important;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Anek Devanagari' ,'sans serif';
    text-align: center;
    padding: 10px;
    margin: auto;
}


.SignInContainer{
    padding:5% !important;
    background-color: rgb(226, 224, 224);
    
}
.CardContainer{
    display: flex;
    justify-content: center !important;
    flex-direction: column !important;
    width:60%;
    height: 300px;
    margin: auto !important;
    background-color: pink !important;
}

@media screen and (max-width: 500px) {

    .Header {
        font-size: 1.7rem;
        line-height: 10px;
    }
    .CardContainer{
        width:100%;
        
    }
}