.Header {
    font-size: 50px;
    line-height: 19px;
    text-align: center;
    color: #FFB7CE;
    padding-bottom: 10px;
}
.SignUpCol {
    height: 475px;
  }
.Image {
    max-width: 35vw;
    border-radius: 50%;
    height:100%;
}
.alert {
    font-size: 18px;
    color: black !important;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.Input {
    background: #636262;
    border: 1px solid #aeaeae;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Vollkorn;
    text-align: center;
    padding: 10px;
}
.Container {
    padding: 30px 10px;
}
.Row {
    height: calc(100vh - 81px);
}