.Input {
    background: #ffffff;
    border: 1px solid #aeaeae;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Vollkorn;
    color: #7177a1;
    text-align: center;
    padding: 10px;
}
.Container {
    padding: 30px 10px;
}
.Row {
    height: calc(100vh - 81px);
}
.Header {
    font-size: 40px;
    line-height: 19px;
    text-align: center;
    color: #FFB7CE;
    padding-bottom: 10px;
}
.Link {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}
  
.Link span {
    color:#ef85a6 ;
}
.SignUpCol {
    height: 475px;
  }
.Image {
    max-width: 35vw;
    border-radius: 50%;
    height:100%;
}

