.App {
  font-family: "Vollkorn", sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.Main{
  padding-top: 91px;
}

a {
  color:rgb(134, 132, 132);
  font-size: 1.2rem;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: rgb(67, 66, 66);
}

a:hover i {
  color: #FFB7CE;
  transition: color ease-in-out 0.3s;
}

i {
  color: rgb(67, 66, 66);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #FFB7CE;
}
/*----------------------------------------------------*/
.Content {
  padding: 10px;
  border-radius: 2px;
}


.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}
input[type="file"] {
  display: none;
}
figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
